/* Leon Chung 2019 */
html, body {
    height: 100%;
}

body {
    margin: 0px 0px 0px 0px;
}

.header{
    height: 10%;
    width: 100%;
    background-color: red;
}

.footer {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: red;
    bottom: 0px;
}

.time {
    height:100%;
    font-size: 800%;
    text-align: center;
    margin-bottom: 0%;
}

.time-message {
    margin-top: 0%;
    font-size: 400%;
    text-align: center;
}
