/* Leon Chung 2019 */
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

body {
    margin: 0px 0px 0px 0px;
    background-color: #88BDBC;

}

.header{
    height: 10%;
    width: 100%;
    background-color: rgb(105, 148, 148);
}

.footer {
    min-height: 59px;
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: rgb(105, 148, 148);
    bottom: 0px;
    text-align: center;
}

.footer-message {
    margin-top: 24px;
}

.time {
    height:100%;
    font-size: 800%;
    text-align: center;
    margin-bottom: 0%;
}

.time-message {
    margin-top: 0%;
    font-size: 400%;
    text-align: center;
}
